@inherits LayoutComponentBase
@using MudBlazor
@using Microsoft.AspNetCore.Components.Authorization
@using RestoRate.Abstractions.Identity
@inject IUserContext UserContext;

<MudThemeProvider Theme="@RestoTheme" IsDarkMode="false" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Fixed="true" Elevation="0" Color="Color.Transparent" Class="rr-appbar">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge">
            <MudPaper Class="rr-cloud rr-topbar-inner d-flex align-center px-4 py-2" Elevation="0">

                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="/index" Match="NavLinkMatch.All">
                    Главная
                </MudButton>

                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="catalog">
                    Каталог
                </MudButton>

                <MudSpacer />

                <AuthorizeView>
                    <Authorized>
                        <strong>@UserContext.FullName</strong>
                        <MudButton Variant="Variant.Text" Color="Color.Primary" Href="favorites">
                            Избранное
                        </MudButton>
                        <MudButton Variant="Variant.Text" Color="Color.Primary" Href="user-claims">
                            Профиль
                        </MudButton>
                        <form action="authentication/logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="/" />
                            <MudButton Variant="Variant.Text" Color="Color.Primary" ButtonType="ButtonType.Submit">
                                Выход
                            </MudButton>
                        </form>
                    </Authorized>
                    <NotAuthorized>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="authentication/login">
                            Войти
                        </MudButton>
                    </NotAuthorized>
                </AuthorizeView>
            </MudPaper>
        </MudContainer>
    </MudAppBar>

    <MudMainContent Class="rr-main text-start">
        <MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="rr-content text-start">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

@code {
    private static MudTheme RestoTheme => new()
    {
        PaletteLight = new PaletteLight
        {
            Primary = "#77BEF0",
            Secondary = "#FFCB61",
            Background = "#f8fbff",
            Surface = "#ffffff",
            AppbarBackground = "rgba(255,255,255,0.8)",
            TextPrimary = "rgba(15, 23, 42, 0.92)",
            TextSecondary = "rgba(15, 23, 42, 0.70)",
        }
    };
}
