@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@using RestoRate.SharedKernel.Enums

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <link rel="stylesheet" href="css/theme.css" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />

    <MudThemeProvider Theme="@RestoTheme" IsDarkMode="false" />
    <MudPopoverProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />

    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>

@code {
    private MudTheme RestoTheme => new()
    {
        PaletteLight = new PaletteLight
        {
            Primary = "#77BEF0",
            Secondary = "#FFCB61",
            Background = "#f8fbff",
            Surface = "#ffffff",
            AppbarBackground = "rgba(255,255,255,0.8)",
            TextPrimary = "rgba(15, 23, 42, 0.92)",
            TextSecondary = "rgba(15, 23, 42, 0.70)",
        }
    };
}
