name: ci / pr docs
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - ".github/workflows/**"
      - "**/*.md"
      - ".markdownlint.json"
      - ".markdownlint-cli2.mjs"
      - "package.json"
      - "package-lock.json"
      - ".editorconfig"
      - "LICENSE"

jobs:
  check_changes:
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          sparse-checkout: |
            .github
            docs
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: package-lock.json
      - name: Install JS deps
        run: npm ci
      - uses: DavidAnson/markdownlint-cli2-action@v22
        with:
          config: .markdownlint-cli2.mjs
          globs: |
            README.md
            docs/**/*.md

      # - name: Check for broken links in markdown (lychee-action)
      #   uses: lycheeverse/lychee-action@v1.10.0
      #   with:
      #     args: --verbose --no-progress --exclude README.md -- *.md docs/**/*.md
