name: ci / pr check
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - "**/*"
      - "!.github/*"
      - "!**/*.md"
      - "!.markdownlint.json"
      - "!.markdownlint-cli2.mjs"
      - "!package.json"
      - "!package-lock.json"
      - '!.editorconfig'
      - '!LICENSE'

jobs:
  test_build:
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: '**/packages.lock.json'
          global-json-file: global.json
      - name: Restore
        run: dotnet restore --locked-mode -r linux-x64
      - name: Build solution
        run: dotnet build --no-restore -c Release
      - name: Run Tests
        run:  dotnet test --no-build --no-restore -c Release --verbosity minimal -- --filter-query '/(*UnitTests)|(*IntegrationTests)' --report-xunit-trx --ignore-exit-code 8 --output Detailed
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2          
        if: ${{ always() && !cancelled() }}
        with:
          files: |
            artifacts/**/*.trx