name: ci / pr check
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - main
    paths:
      - "**/*"
      - "!.github/*"
      - "!**/*.md"
      - "!.markdownlint.json"
      - "!.markdownlint-cli2.mjs"
      - "!package.json"
      - "!package-lock.json"
      - '!.editorconfig'
      - '!LICENSE'

jobs:
  test_build:
    if: ${{ github.event.pull_request.draft == false }}
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: write
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6

      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: |
            **/packages.lock.json
            **/packages.*.lock.json
          global-json-file: global.json
      - name: Detect changes in windows-specific lock files
        id: changed-win-lockfiles
        uses: tj-actions/changed-files@v47
        with:
          files: |
            src/**/packages.win.lock.json
            tests/**/packages.win.lock.json

      - name: Generate linux lock files if needed
        if: ${{ steps.changed-win-lockfiles.outputs.any_changed == 'true' }}
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-win-lockfiles.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            proj=$(find "$(dirname "$file")" -maxdepth 1 -type f -name '*.csproj' | head -n 1 || true)
            if [ -n "$proj" ]; then
              echo "Restoring project $proj for linux-x64"
              dotnet restore "$proj" -r linux-x64 --force-evaluate
            fi
          done
      - name: Publish updated linux lock files
        if: ${{ steps.changed-win-lockfiles.outputs.any_changed == 'true' }}
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: update linux lock files"
      - name: Restore
        run: dotnet restore --locked-mode -r linux-x64
      - name: Build solution
        run: dotnet build --no-restore -c Release
      - name: Run Tests
        run:  dotnet test --no-build --no-restore -c Release --verbosity minimal -- --filter-query '/(*UnitTests)|(*IntegrationTests)' --report-xunit-trx --ignore-exit-code 8 --output Detailed
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2          
        if: ${{ always() && !cancelled() }}
        with:
          files: |
            artifacts/**/*.trx