on:
  workflow_call:
    inputs:
      ref:
        description: The branch, tag or SHA to checkout
        required: true
        type: string
      environment:
        description: Environment to execute the workflow in
        type: string
        required: true
    outputs:
      sha:
        description: Git SHA checked out after updates
        value: ${{ jobs.update_linux_lockfiles.outputs.sha }}
permissions:
  actions: write
  contents: write
concurrency:
  group: ci-update-linux-lockfiles-${{ inputs.ref }}
  cancel-in-progress: true
env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
jobs:
  update_linux_lockfiles:
    name: Update Linux lock files
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    outputs:
      sha: ${{ steps.result_sha.outputs.sha }}
    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
          fetch-depth: 0
      - name: Detect changes in windows-specific lock files
        id: changed-win-lockfiles
        uses: tj-actions/changed-files@v47
        with:
          files: |
            src/**/packages.win.lock.json
            tests/**/packages.win.lock.json
      - name: Ensure NUGET_PACKAGES exists
        if: ${{ steps.changed-win-lockfiles.outputs.any_changed == 'true' }}
        run: |
          mkdir -p "$NUGET_PACKAGES"
      - name: Setup dotnet
        if: ${{ steps.changed-win-lockfiles.outputs.any_changed == 'true' }}
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: |
            **/packages.lock.json
          global-json-file: global.json
      - name: Generate linux lock files if needed
        if: ${{ steps.changed-win-lockfiles.outputs.any_changed == 'true' }}
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-win-lockfiles.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            proj=$(find "$(dirname "$file")" -maxdepth 1 -type f -name '*.csproj' | head -n 1 || true)
            if [ -n "$proj" ]; then
              echo "Restoring project $proj for linux-x64"
              dotnet restore "$proj" --force-evaluate
            fi
          done
      - name: Publish updated linux lock files
        if: ${{ steps.changed-win-lockfiles.outputs.any_changed == 'true' }}
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "chore: update linux lock files"

      - name: Export resulting SHA
        id: result_sha
        if: ${{ always() }}
        run: |
          echo "sha=$(git rev-parse HEAD)" >> "$GITHUB_OUTPUT"
